* {
	margin: 0;
	padding: 0;
}
#header {
	height: 80px;
	padding: 5px;
	position: relative;
	/* border-bottom: 1px solid grey; */
	box-shadow: 0 6px 4px -2px rgba(128, 128, 128, 0.736);
}
#logo {
	display: inline-block;
	/* margin: 0 auto; */
	width: 62.6px;
	position: absolute;
	left: 48%;
}
#register {
	display: inline-block;
	position: absolute;
	right: 5%;
	top: 32%;
	text-decoration: none;
	color: orange;
}
#registrationForm p,
#registrationForm label,
#loginForm p,
#loginForm label {
	color: #161050 !important;
}
